/* @font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/open-sans/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
} */

/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZJhjp-Ek-_EeAmM.woff')
    format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZthjp-Ek-_EeAmM.woff')
    format('woff');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZNhjp-Ek-_EeAmM.woff')
    format('woff');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZxhjp-Ek-_EeAmM.woff')
    format('woff');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZBhjp-Ek-_EeAmM.woff')
    format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZFhjp-Ek-_EeAmM.woff')
    format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hjp-Ek-_EeA.woff')
    format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Itec-icon';
  src: url('../fonts/icons/Itec-icon.eot?c4fuy1');
  src: url('../fonts/icons/Itec-icon.eot?c4fuy1#iefix') format('embedded-opentype'),
    url('../fonts/icons/Itec-icon.ttf?c4fuy1') format('truetype'),
    url('../fonts/icons/Itec-icon.woff?c4fuy1') format('woff'),
    url('../fonts/icons/Itec-icon.svg?c4fuy1#Itec-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.itec-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Itec-icon' !important;
  font-weight: normal;
  font-style: normal;
  /* font-size: 24px; */
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;

  /* Enable Ligatures ================ */
  /* letter-spacing: 0; */
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga=1';
  -moz-font-feature-settings: 'liga';
  -ms-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga';
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.itec-calendar-plus:before {
  content: '\e92d';
}
.itec-check:before {
  content: '\e92c';
}
.itec-bookmark:before {
  content: '\e933';
}
.itec-search:before {
  content: '\e92e';
}
.itec-close:before {
  content: '\e92f';
}
.itec-checked-circle:before {
  content: '\e930';
}
.itec-uncheck-circle:before {
  content: '\e931';
}
.itec-user:before {
  content: '\e932';
}
.itec-facebook:before {
  content: '\e920';
}
.itec-twitter:before {
  content: '\e921';
}
.itec-youtube:before {
  content: '\e922';
}
.itec-plus-square:before {
  content: '\e902';
}
.itec-plus:before {
  content: '\e928';
}
.itec-uncheck:before {
  content: '\e91e';
}
.itec-checked:before {
  content: '\e91f';
}
.itec-prev:before {
  content: '\e91b';
}
.itec-next:before {
  content: '\e91c';
}
.itec-arrow-dropup:before {
  content: '\e917';
}
.itec-arrow-dropdown:before {
  content: '\e918';
}
.itec-arrow-left:before {
  content: '\e919';
}
.itec-arrow-right:before {
  content: '\e91a';
}
.itec-expand-less:before {
  content: '\e913';
}
.itec-expand-more:before {
  content: '\e914';
}
.itec-chevron-left:before {
  content: '\e915';
}
.itec-chevron-right:before {
  content: '\e916';
}
.itec-arrow-upward-circle:before {
  content: '\e90f';
}
.itec-arrow-downward-circle:before {
  content: '\e910';
}
.itec-arrow-back-circle:before {
  content: '\e911';
}
.itec-arrow-forward-circle:before {
  content: '\e912';
}
.itec-arrow-upward:before {
  content: '\e90b';
}
.itec-arrow-downward:before {
  content: '\e90c';
}
.itec-arrow-back:before {
  content: '\e90d';
}
.itec-arrow-forward:before {
  content: '\e90e';
}
.itec-arrow-back-sm:before {
  content: '\e92a';
}
.itec-arrow-forward-sm:before {
  content: '\e92b';
}
.itec-export:before {
  content: '\e900';
}
.itec-logout:before {
  content: '\e903';
}
.itec-alert:before {
  content: '\e909';
}
.itec-edit-outline:before {
  content: '\e923';
}
.itec-edit:before {
  content: '\e926';
}
.itec-edit-box-outline:before {
  content: '\e901';
}
.itec-clock:before {
  content: '\e927';
}
.itec-calendar:before {
  content: '\e90a';
}
.itec-message-square:before {
  content: '\e929';
}
.itec-dollar-sign:before {
  content: '\e925';
}
.itec-doc:before {
  content: '\e924';
}
.itec-activity:before {
  content: '\e904';
}
.itec-bell:before {
  content: '\e905';
}
.itec-student:before {
  content: '\e906';
}
.itec-briefcase:before {
  content: '\e907';
}
.itec-server:before {
  content: '\e908';
}
.itec-menu:before {
  content: '\e91d';
}
